<div class="row">

	<div class="col-md-3">
		<p class="lead">Menu</p>
		<ul>
			<li>Bong Da</li>
			<li>Am Nhac</li>
			<li>Phim anh</li>
			<li>Hoi Hoa</li>
		</ul>
	</div>
	<div class="col-md-9" *ngIf='tintucs' style="border:50px">
		<div class="col-sm-4 col-lg-4 col-md-4"  *ngFor="let n of tintucs">
				<div class="thumbnail">
					<a [routerLink]="['/tintucs',n.id]">
						 <img [src]="n.URLImage">
					 </a>
					<div class="caption">
						<h4 class="pull-right">{{n.TieuDe}}</h4>
					</div>
					
				</div>
			</div>
	</div>
</div>

<!--<div class='panel panel-primary' *ngIf='tintucs'>
	<div class='panel-heading'>
		{{pageTitle}}
	</div>
	<a [routerLink]="['/create']">tao moi</a>
		<div class="container">
			<div *ngFor="let n of tintucs">
				<div class="img" >
					 <a [routerLink]="['/tintucs',n.id]">
						 <img [src]="n.URLImage">
					 </a>
				</div>
			</div>
		</div>
</div>-->
