<div class="container">
    <form>
        <h3>Delete</h3>
        <div class="form-group">
            <label class="">Server Name:</label>
            <input type="text" class="form-control" name="servername" [(ngModel)]="servername" placeholder="Server name">
        </div>  
        <div class="form-group">
            <label class="">API key:</label>
            <input type="text" class="form-control" name="apikey" [(ngModel)]="apikey" placeholder="Api key">
        </div>  
        <div class="form-group">
            <label class="">Trạng thái:</label>
            <input type="checkbox" name="trangthai" [(ngModel)]="trangthai" checked>
        </div>  

        <div class="row"> 
        <button type="button" style="float:left;margin-right:10px" class="btn btn-success btn-lg" (click)='Create()'>Create</button>
        <button type="button" style="float:left" class="btn btn-danger btn-lg" (click)='Back()'>Back</button>
        </div>
    </form>
</div>