<div class='panel panel-primary' *ngIf='loaitindang'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Mã:</div>
                    <div class='col-md-6'>{{loaitindang.id}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Ký Hiệu:</div>
                    <div class='col-md-6'>{{loaitindang.KyHieu}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Tên Gọi:</div>
                    <div class='col-md-6'>{{loaitindang.TenGoi}}</div>
                </div>
            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='200' 
                     [style.margin.px]='2' 
                     [src]='loaitindang.BieuTuong'
                     [title]='loaitindang.LoaiTinDangID'>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Trở về
        </a>
    </div>
</div>