<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.htm">Home</a></li>
        <li class='active'><a [routerLink]="['Contacts']">Contact</a></li>   
        <li class='active'>Contact-detail</li>                  
    </ol>
    
</div><br><br>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
    </div>
    <div class="modal-body">
        <p>Some text in the modal.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>