<div class='panel panel-primary' *ngIf='tienich'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Mã:</div>
                    <div class='col-md-6'>{{tienich.id}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Tiêu đề:</div>
                    <div class='col-md-6'>{{tienich.KyHieu}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Mô tả:</div>
                    <div class='col-md-6'>{{tienich.TenGoi}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Địa chỉ hình ảnh</div>
                    <div class='col-md-6'>{{tienich.BieuTuong}}</div>
                </div>
            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                [style.width.px]='200' 
                [style.margin.px]='2' 
                [src]='tienich.BieuTuong' 
                [title]='tienich.TienIchID'>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Trở về
        </a>
    </div>
</div>