<span defaultOverlayTarget></span>
<div class="container">
   <div class='content'>
           <div class='row' >
                <div class='col-md-5'>
                    <div class="search">
                        <h4>Tìm kiếm <input type ='text' [(ngModel)] ='listFilter'/></h4>        
                        <!--<button class="btn btn-primary" (click) = 'btnTim()'>Tìm</button>-->
                    </div>
                </div>
        </div>

       <div class='row'>
           <div class="col-md-3" >       
               <web-list></web-list> 
            </div>
           <div class="col-md-9" >        
                <div class="col-md-4" *ngFor='let new of news | newsFilter : listFilter'>
                    <div class="box">
                        <div class="box1">
                            <ul>
                                <li style="height: 120px">
                                    <img [src]='new.imgurl'
                                        [title]='new.name | uppercase'
                                        [style.width.px]='imageWidth' 
                                        [style.height.px]='imageHeight'/>
                                </li>
                                <li><a style="font-weight:bold; font-size:15px" (click) = "openCustom(new)">{{new.name}}</a></li>
                                <li><h6 style="text-align:right;margin-top:10px;">{{new.datepub | date : "dd-MM-y"}}</h6></li>
                                <li><h5>{{new.description}}</h5></li>
                            </ul>
                        </div>
                        <div class="box2">                    
                            <button class="btn btn-primary" (click) = 'btnDelete()' >Xóa</button> <button class="btn btn-primary" (click) = 'btnSave()'>Lưu</button>
                        </div>
                    </div>
                </div>
            </div>   
           
        </div>
    </div>

</div>

