
<h2>Sua tien ich</h2>
<form *ngIf='tienich'>
    <label>Mã Tiện ích: </label>
    <input type="text" name="id"  [(ngModel)]="tienich.id"  /> <br/>
     <label>Biệu tượng: </label>
    <input type="text" name="BieuTuong" [(ngModel)]="tienich.BieuTuong" /> <br/>
    <label>Ký hiệu: </label>
    <input class="w3-input" type="text" name="KyHieu"  [(ngModel)]="tienich.KyHieu" /> <br/>
    <label>Tên gọi: </label>
    <input type="text" name="TenGoi"   [(ngModel)]="tienich.TenGoi" /> <br/>
   

        <a class='btn btn-facebook' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Trở về
        </a>

    <button class="btn btn-info" (click)="suatienich()">Lưu</button>

</form>
    
<style>
    label {
        padding: 10px;
        display: inline-block;
        width  : 150px;        
    }
</style>    