<div class="container">
    <form>
        <h3>Create</h3>
        <div class="form-group">
            <label class="">Tag ID:</label>
            <input type="text" class="form-control" name="tagid" [(ngModel)]="tagid" placeholder="Tag ID">
        </div>  
        
        <div class="form-group">
            <label class="">Tag name display:</label>
            <input type="text" class="form-control" name="tagnamedisplay" [(ngModel)]="tagnamedisplay" placeholder="Tag name display">
        </div>  
        <div class="form-group">
            <label class="">Tag name key:</label>
            <input type="text" class="form-control" name="tagnamekey" [(ngModel)]="tagnamekey" placeholder="Tag name key">
        </div>  
        <div class="form-group">
            <label class="">AccountID:</label>
            <input type="text" class="form-control" name="accountid" [(ngModel)]="accountid" placeholder="AccountID">
        </div> 
        <div class="form-group">
            <label class="">Trạng thái:</label>
            <input type="checkbox" name="isdefault" [(ngModel)]="isdefault" checked>
        </div>  

        <div class="row"> 
        <button type="button" style="float:left;margin-right:10px" class="btn btn-success btn-lg" (click)='Create()'>Create</button>
        <button type="button" style="float:left" class="btn btn-danger btn-lg" (click)='Back()'>Back</button>
        </div>
    </form>
</div>