<table border="1" width="1000" style="text-align:center">
<h3 style="padding-left: 300px">Quản lý Notifications</h3>
	<table border="0.5" width="700" style="text-align:center">
		
		<tbody>
			<tr>
				
				<td>
					<a href=""><img class="anh" src="assets/images/imghoa/Setting.png" alt="anh"></a><br>
					<a href="">Setting</a>
				</td>
				<td>
					<a href=""><img class="anh" src="assets/images/imghoa/Contacts.png" alt="anh"></a><br>
					<a href="">Contacts</a>
				</td>
				<td>
					<a href=""><img class="anh" src="assets/images/imghoa/Reports.png" alt="anh"></a><br>
					<a href="">Reports</a>
				</td>
			</tr>
			
			<tr>
				<br><br>
				<td>
					<a href=""><img class="anh" src="assets/images/imghoa/sms.png" alt="anh"></a><br>
					<a href="">Notifications</a>
				</td>
				<td>
					<a href=""><img class="anh" src="assets/images/imghoa/noti.png" alt="anh"></a><br>
					<a href="">Campaigns</a>
				</td>				
			</tr>
		
		</tbody>
	</table>
</table>