<div class='panel panel-primary' *ngIf='setting'>
    <div class='panel-heading'>
        <h3>{{pageTitle}}</h3>
    </div>
    <div class='panel-body'>
        <div class="container">
            <form>
                <div class="form-group">
                    <label class="">App Name:</label>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <input type="text" class="form-control" name="setting.AppName" [(ngModel)]="setting.AppName" placeholder="App name">
                            </div>  
                            <div style="color:red;line-height:33.99px">{{alertname}}</div>
                        </div>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="">API key:</label>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <input type="text" class="form-control" name="setting.APIKey" [(ngModel)]="setting.APIKey" placeholder="Api key">
                            </div>  
                            <div style="color:red;line-height:33.99px">{{alertapi}}</div>                            
                        </div>
                    </div>
                </div>          
                <div class="form-group">
                    <label class="">Trạng thái:</label>
                    <input type="checkbox" name="setting.IsActive" [(ngModel)]="setting.IsActive" checked *ngIf='setting.IsActive==true'>
                    <input type="checkbox" name="setting.IsActive" [(ngModel)]="setting.IsActive" *ngIf='setting.IsActive==false'>
                </div>               
            </form>
        </div>   
    </div>
    <div class="panel-footer"> 
        <div class="row" style="margin-left:10px">
            <button type="button" style="float:left;margin-right:10px" class="btn btn-success btn-lg" (click)='Edit()'>Save</button>
            <button type="button" style="float:left" class="btn btn-default btn-lg" (click)='Back()'>Back</button>
        </div>
    </div>
</div>