    <div class="container" *ngIf='notifi && sl && sentUser'>
		<h3>Confirm and Test</h3>
		<hr/>
		<div class="container">
			<div class="col-md-8">
					<img src="/assets/images/device.png" width="330px" height="600px">
					<div style="position: absolute;top: 240px;left: 45px;width: 270px;border-top: 1px solid #585858;border-bottom: 1px solid #585858;color: white;">
						<div style="width: 220px;margin-left: 32px;margin-top: 12px;margin-bottom: 7px;word-wrap: break-word;">
						<span class="glyphicon glyphicon-envelope"></span>
							<p style="color:white;display: inline;letter-spacing: 1px;font-size:12px">{{notifi.TieuDe}}</p>
							<p style="opacity: 0.5;display: inline;letter-spacing: 1px;font-size:11px">now</p>
							<div style="margin-left: 18px;">
								<p style="color:white;margin: 0px;font-size:12px;letter-spacing: 1px;">{{notifi.Noidung}}</p>
								<p style="opacity: 0.5;font-size:11px">slide to view</p>
								</div>
							</div>
					</div>	
			</div>
			<div class="col-md-4">
				<h4>Thông tin</h4>
				<hr />
				<div>
					Số lượng user:{{sl.count}}
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
          				<span class="glyphicon glyphicon-list"></span></button>
						<!-- Modal -->
						<div id="myModal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">List Sent User</h4>
							</div>
							<div class="modal-body">
								<table class="table">
									<thead>
									<tr>
										<th>ContactID</th>
										<th>Tài Khoản</th>
										<th>Device</th>
										<th>Email</th>
										<th>FaceBook</th>
										<th>Tag</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor='let item of sentUser'>
										<td>{{item.ContactID}}</td>
										<td>{{item.TaiKhoan}}</td>
										<td>{{item.Device}}</td>
										<td>{{item.Email}}</td>
										<td>{{item.FaceBook}}</td>
										<td>{{item.ContactTagName}}</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
							</div>

						</div>
						</div>
					<p><br/>
					Ngày gửi:{{notifi.Thoigiangui| date:'dd/MM/yyyy HH:mm:ss' }}<br/><br/>
					Độ ưu tiên:{{Douutien}}<br/><br/>
					Thời hạn:{{notifi.ThoiHan| date:'dd/MM/yyyy HH:mm:ss'}}<br/><br/>
					</p>
					<form class="form-inline" style="margin-top:180px">
						<div class="form-group">
						<p>Test Recipients</p>
							<input name="token" [(ngModel)]="token" type="text" class="form-control"/>
							<h6><i>User nhận test</i></h6>
						</div>
						<button type="submit" class="btn btn-success" (click)='Push()'>Send</button>
					</form>
					<hr />
				</div>
				<div style="float:right">
				<button type="submit" class="btn btn-success" (click)='SaveAsDraft()'>Save As Draft</button>
				<button type="submit" class="btn btn-success" (click)='Finish()'>Finish</button>
				</div>
			</div>
		</div>
    </div>
