<style>
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: 70px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

</style>
<div class='panel panel-primary'>
    
    
    <div class='panel-heading text-center'>
        <h2>Quản lý API key</h2>
    </div>
    <!-- Filter the Products   -->
    <div id="loader" *ngIf="!itempages"></div>
    <div class='panel-body' *ngIf="itempages">
        <h4>Tìm kiếm được: {{id}} kết quả</h4>
        <div class='row'>
            <div class='col-md-2' style="line-height:37px">Tìm kiếm:</div>
            <div class='col-md-8'>
                <input type='text' class="form-control" [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class="row">
            <div class='col-md-6'>
                <a class="btn btn-primary" [routerLink]="['/setting-create']">Thêm mới</a>
            </div>            
        </div>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class="table" *ngIf='itempages && itempages.length'>
                <thead>
                    <tr>
                        <th>App Id</th>
                        <th>App name</th>
                        <th>Api key</th>                        
                        <th>Trạng thái</th>   
                        <th>Ngày tạo</th>                     
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let set of itempages | settingFilter:listFilter'> 
                        <td>{{ set.AppID }}</td>
                        <td>{{ set.AppName }}</td>
                        <td>{{ set.APIKey }}</td>                              
                        <td>{{ set.IsActive }}</td>
                        <td>{{ set.NgayTao }}</td>                  
                        <td>
                            <a class="btn" [routerLink]="['/setting-detail', set.AppID]">Chi tiết</a>
                            <a class="btn" [routerLink]="['/setting-edit',set.AppID]">Sửa</a>
                            <a class="btn" [routerLink]="['/setting-delete',set.AppID]">Xóa</a>
                        </td>
                    </tr>    
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center panel-footer" *ngIf="pager.pages">            <!-- pager -->
        <ul  class="pagination" *ngIf="pager.pages.length>1">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>
