<div class='panel panel-primary'>
    <div class='panel-heading text-center'>
        <h2>Quản lý API key</h2>
    </div>
    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2' style="line-height:37px">Tìm kiếm:</div>
            <div class='col-md-8'>
                <input type='text' class="form-control" [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class="row">
            <div class='col-md-6'>
                <a class="btn btn-primary" [routerLink]="['/setting-create']">Thêm mới</a>
            </div>            
        </div>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class="table" *ngIf='itempages && itempages.length'>
                <thead>
                    <tr>
                        <th>App Id</th>
                        <th>App name</th>
                        <th>Api key</th>                        
                        <th>Trạng thái</th>   
                        <th>Ngày tạo</th>                     
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let set of itempages | settingFilter:listFilter'> 
                        <td>{{ set.AppID }}</td>
                        <td>{{ set.AppName }}</td>
                        <td>{{ set.APIKey }}</td>                              
                        <td>{{ set.IsActive }}</td>
                        <td>{{ set.NgayTao }}</td>                  
                        <td>
                            <a class="btn" [routerLink]="['/setting-detail', set.AppID]">Chi tiết</a>
                            <a class="btn" [routerLink]="['/setting-edit',set.AppID]">Sửa</a>
                            <a class="btn" [routerLink]="['/setting-delete',set.AppID]">Xóa</a>
                        </td>
                    </tr>    
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center panel-footer" *ngIf="pager.pages">            <!-- pager -->
        <ul  class="pagination" *ngIf="pager.pages.length>1">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>

