<div class='panel-primary' *ngIf='tag'>
    <div class="container">
        <form>
            <h3>Edit</h3>
            <div class="form-group">
                <label class="">Tag ID:</label>
                <input type="text" class="form-control" name="tagid" [(ngModel)]="tag.tagid">
            </div>  
            
            <div class="form-group">
                <label class="">Tag name display:</label>
                <input type="text" class="form-control" name="tagnamedisplay" [(ngModel)]="tag.tagnamedisplay">
            </div>  
            <div class="form-group">
                <label class="">Tag name key:</label>
                <input type="text" class="form-control" name="tagnamekey" [(ngModel)]="tag.tagnamekey">
            </div>  
            <div class="form-group">
                <label class="">AccountID:</label>
                <input type="text" class="form-control" name="accountid" [(ngModel)]="tag.accountid">
            </div> 
            <div class="form-group">
                <label class="">Trạng thái:</label>
                <input type="checkbox" name="isdefault" [(ngModel)]="tag.isdefault" checked *ngIf='tag.isdefault==true'>
                <input type="checkbox" name="isdefault" [(ngModel)]="tag.isdefault" *ngIf='tag.isdefault==false'>
            </div>  

            <div class="row"> 
            <button type="button" style="float:left;margin-right:10px" class="btn btn-success btn-lg" (click)='Edit()'>Save</button>
            <button type="button" style="float:left" class="btn btn-danger btn-lg" (click)='Back()'>Back</button>
            </div>
        </form>
    </div>
</div>