<span defaultOverlayTarget></span>
<script src="/scripts/jquery/dist/jquery.js"></script>

<div class='panel panel-primary'>
    <div class='panel-heading'>
        heading
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-1'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='filter' />
            </div>
        </div>
        <div class='row' *ngIf='filter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{ filter }}</h3>
            </div>
        </div>
        <div class="row" *ngIf='Tags' style="margin-left: 10px;">
            Tag:
            <a style="cursor:pointer; text-decoration: underline; margin-left: 10px;" *ngFor='let itemTag of Tags' (click)='orderByTag(itemTag.TagID)'>
                {{ itemTag.TagNameDisplay }}
            </a>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" (click)='checkAlllist()' />
                        </th>
                        <th>ContactID</th>
                        <th>Token</th>
                        <th>Email</th>
                        <th>Tài khoản</th>
                        <th>Device</th>
                        <th>Phone number</th>
                        <th>Ngày tạo</th>
                        <th>Facebook</th>
                        <th>Contact tag</th>
                    </tr>
                </thead>
                <tbody id='listcheckall'>
                    <tr *ngFor='let item of Contacts | ContactFilter: filter'>
                        <td>
                            <input type="checkbox" class="checkbox-item" [checked]="checkbox" />
                        </td>
                        <td>
                            <a (click)='getView(item.ContactID)' style="cursor:pointer">
                                {{ item.ContactID }}
                            </a>
                        </td>
                        <td>
                            {{ item.Token }}
                        </td>
                        <td>
                            {{ item.Email }}
                        </td>
                        <td>
                            {{ item.TaiKhoan }}
                        </td>
                        <td>
                            {{ item.Device }}
                        </td>
                        <td>
                            {{ item.PhoneNumber }}
                        </td>
                        <td>
                            {{ item.NgayTao }}
                        </td>
                        <td>
                            {{ item.FaceBook }}
                        </td>
                        <td>
                            {{ item.Contact_TagName }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>