
<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.htm">Home</a></li>
        <li class='active'><a [routerLink]="['Contacts']">Contact</a></li>                    
    </ol>
    
</div><br><br>
<span defaultOverlayTarget></span>

<script src="/scripts/jquery/dist/jquery.js"></script>

<div class='panel panel-primary'>
    
    <div class='panel-heading'>
        Contact
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-sm-1'><p style="margin-top:5px;">Filter by:</p></div>
            <div class='col-sm-2'>
                <input type='text' [(ngModel)]='AccountFilter' placeholder="Tìm kiếm theo tài khoản" style="margin-top:5px;"/>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-success"  (click)="SearchByAccount()">Search</button>
            </div>
        </div>
        <!--<div class='row' *ngIf='filter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{ filter }}</h3>
            </div>
        </div>-->
        <div class="row" *ngIf='Tags' style="margin-left: 10px;">
            Tag:
            <a style="cursor:pointer; text-decoration: underline; margin-left: 10px;" *ngFor='let itemTag of Tags' (click)='SearchByTag(itemTag.TagNameDisplay)'>
                {{ itemTag.TagNameDisplay }}
            </a>
            &nbsp;<i class="fa fa-plus-square" aria-hidden="true" style="cursor: pointer; color: blue" (click)='CreateTag()'></i>
        </div>

        <div class="row" *ngIf="Total != undefined" style="margin-left: 10px;">
            <p>Total rows: {{ Total }}</p>
        </div>

        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>ContactID</th>
                        <th>Token</th>
                        <th>Email</th>
                        <th>Tài khoản</th>
                        <th>Device</th>
                        <th>Phone number</th>
                        <th>Ngày tạo</th>
                        <th>Facebook</th>
                        <th>Tag</th>
                    </tr>
                </thead>
                <tbody id='listcheckall'>
                    <tr>
                        <sk-fading-circle [isRunning]="isRequest"></sk-fading-circle>
					</tr>
                    <tr *ngFor='let item of itempages'>
                        
                        <td>
                            <a (click)='getView(item.ContactID)' style="cursor:pointer">
                                {{ item.ContactID }}
                            </a>
                        </td>
                        <td>
                            {{ item.Token }}
                        </td>
                        <td>
                            {{ item.Email }}
                        </td>
                        <td>
                            {{ item.TaiKhoan }}
                        </td>
                        <td>
                            {{ item.Device }}
                        </td>
                        <td>
                            {{ item.PhoneNumber }}
                        </td>
                        <td>
                            {{ item.NgayTao|date:"dd/MM/yyyy" }}
                        </td>
                        <td>
                            {{ item.FaceBook }}
                        </td>
                        <td>
                            {{ item.Contact_TagName }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <!-- pager -->
                <ul class="pagination" *ngIf='pager.length != 0 && pager.totalPages > 1'>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
