 <div class='row'>
    <div class='col-md-2'> <input type='text'/></div>
        <div class='col-md-4'><button>Tìm kiếm</button></div>
        <div class='col-md-6'>
            <button>Xóa Tag</button> 
            <button>Gắn Tag</button>
        </div>
       
        </div>
<div class='row'>
    <div class='col-md-6'>
        <h3>Tag:</h3>
     </div>
</div>
<!--<div class='panel panel-primary'>-->
    <!--<div class='panel-body'>-->
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
        <div class='table-responsive'>
            <table  class='table' *ngIf='contacts && contacts.length' border="1">
                <thead>
                    <tr>
                        <th><input type="checkbox"/></th>
                        <th>Token</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Tag</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let contact of contacts'>   
                        <td><input type="checkbox"/></td>                                          
                        <td>{{contact.Token | lowercase}}</td>
                        <td>{{contact.Email}}</td>
                        <td>{{contact.PhoneNumber}}</td> 
                        <td>{{contact.Contact_Tag}}</td>                       
                    </tr>
                </tbody>
            </table>
        </div>

