<h1 style="text-align: center">Tin tức</h1>
 <div class="container-fluid custom-modal-container" *ngIf='context.news'>
            <div class="row custom-modal-header">
                <div class="col-sm-12">
                   
                    <h4>{{context.news.name}}</h4>                    
                </div>
            </div>
            <div class="row custom-modal-body">
                <div class="col-xs-4">
                    <img class='img-responsive' 
                     [style.width.px]='150' 
                 
                     [src]='context.news.imgurl'
                     [title]='context.news.name'>
                     <p>{{context.news.datepub | date : "dd-MM-y"}}</p>
                </div>
                 <div class="col-xs-8">
                    <p>{{context.news.content}}</p>
                </div>
            </div>
        <div class="custom-modal-footer">
            <button class="btn btn-primary" (click)="Close()">Close</button>
        </div>
</div>
