<div class='panel panel-primary'*ngIf='tintuc'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class="col-lg-3" style="float:left;height:100%">
        <div>
        ID San Pham:{{tintuc.id}}
        </div>
        <div>
        Tieu De:{{tintuc.TieuDe}}
        </div>
        <div>
        NoiDung:{{tintuc.NoiDung}}
        </div>
        <div>
            Mô Tả:{{tintuc.MoTa}}
        </div>
    </div>
    <div class="col-lg-6" style="float:right; height:100%">
        <img [src]="tintuc.URLImage">
    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>