<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Tìm kiếm:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class="row">
            <div class='col-md-6'>
                <a class="btn btn-primary" [routerLink]="['/tag-create']">Thêm mới</a>
            </div>            
        </div>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class="table" *ngIf='tags && tags.length'>
                <thead>
                    <tr>
                        <th>Tag Id</th>
                        <th>Tag name display</th>
                        <th>Tag name key</th>
                        <th>AccountID</th>   
                        <th>Isdefacult</th>                     
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let tag of tags | tagFilter:listFilter '> 
                        <td>{{ tag.tagid }}</td>
                        <td>{{ tag.tagnamedisplay }}</td>
                        <td>{{ tag.tagnamekey }}</td>      
                        <td>{{ tag.accountid }}</td>
                        <td>{{ tag.isdefault }}</td>                  
                        <td>
                            <a class="btn" (click)='Detail(tag)'>Chi tiết</a>
                            <a class="btn" (click)='Edit(tag)'>Sửa</a>
                            <a class="btn" (click)='Detele(tag)'>Xóa</a>
                        </td>
                    </tr>    
                </tbody>
            </table>
        </div>
    </div>
</div>