.modal-body{
    margin: 0px 10px;
}
.box1, .box2{
    width: 80%;
    height: 310px;
    border: 1px solid gray;
    box-sizing: border-box;
    margin: 1px 0px;
    padding:10px;
    overflow:auto
}

.box2{
    height: 370px;
}
.position{
    float: right;
}
.col-xs-6 input[type=text]{
    border: 1px solid gray;
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    padding:2px;
}
