<div>
	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<a class='navbar-brand'>{{pageTitle}}</a>
			<ul class='nav navbar-nav'>
				<li><a [routerLink]="['menu-list']">Home</a></li>
				<li><a [routerLink]="['notification']">Notification</a></li>
				<li><a [routerLink]="['Contacts']">Contact</a></li>
				<li><a [routerLink]="['setting-list']">Setting List</a></li>
				<li><a [routerLink]="['login']">Login</a></li>
			</ul>
		</div>
	</nav>
	<div>
	<div class='container'>
		<router-outlet></router-outlet>
	</div>
</div>