<div>
	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<a class='navbar-brand'>{{pageTitle}}</a>
			<ul class='nav navbar-nav'>
				<li><a [routerLink]="['welcome']">Home</a></li>
				<li><a [routerLink]="['products']">Product List</a></li>
				<li><a [routerLink]="['users']">User List</a></li>
				<li><a [routerLink]="['book-list']">Book List</a></li>
				<li><a [routerLink]="['setting-list']">Setting List</a></li>
				<li><a [routerLink]="['tag-list']">Tag List</a></li>
				
			</ul>
		</div>
	</nav>
	<div>
	<div class='container'>
		<router-outlet></router-outlet>
	</div>
</div>